Name             |  Type  |  Description
--------------------------------------------------------------------------------------
1. Integer       | int    | Whole number, such as 3, 300, 200 etc.
2. Floating Point| float  | Number with decimal point such as 33.5, 100.2, 4.6, 2.3 etc.
3. Strings       | str    | Ordered sequence of characters: "hello", "Sammy", "2000", "India" etc.
4. Lists         | list   | Ordered sequence of objects: [10, "hello", 200.3, "India"]
5. Dictionaries  | dict   | Unordered Key:Value pairs : {"myKey":"value", "name":"Python", "country":"India"}
6. Tuples        | tup    | Ordered immutable sequence of objects: (10, "hello", "2", 200.3, "India"}
7. Sets          | set    | Unordered collection of unique objects: {"a", "b"}
8. Booleans      | bool   | Logical value indicating True or False

Name             |  Type  |  Description
--------------------------------------------------------------------------------------
1. Integer       | int    | Whole number, such as 3, 300, 200 etc.
2. Floating Point| float  | Number with decimal point such as 33.5, 100.2, 4.6, 2.3 etc.
3. Strings       | str    | Ordered sequence of characters: "hello", "Sammy", "2000", "India" etc.
4. Lists         | list   | Ordered sequence of objects: [10, "hello", 200.3, "India"]
5. Dictionaries  | dict   | Unordered Key:Value pairs : {"myKey":"value", "name":"Python", "country":"India"}
6. Tuples        | tup    | Ordered immutable sequence of objects: (10, "hello", "2", 200.3, "India"}
7. Sets          | set    | Unordered collection of unique objects: {"a", "b"}
8. Booleans      | bool   | Logical value indicating True or False

Python is dynamic typed langauge and it simply means we can re-assign variable to different datatype. Below is the simple example:

my_var = 2
my_var = "hello"
my_var = ['India', 'Aus']

You will get error if you try to do this in other languages as other languages are statically typed

type() function is used to get the type of var

In [7]:
print(2-1)
print(10+5)
print(100+25)
print(10000000 + 100000000)

1
15
125
110000000

In [9]:
print(125*12)
print(10*5)

1500
50

In [11]:
print(50/2)

25.0

In [17]:
print(50%2)
print(40%3)
print(40/3)

0
1
13.333333333333334

In [39]:
num = 36
def calculateEvenOdd(num):
    if num%2 == 0:
        print(f'{num} is even')
    else:
        print(f'{num} is odd')

calculateEvenOdd(num)

36 is even

Below is the example of number power
like we are calculating 2 raise to power 3 and 5 raise to power 4

In [51]:
print(2**3)
print(5**4)

8
625

Below is the examples of dynamically typed and reassignement

In [77]:
a = 10
a = 15
print('=======================')
print(type(a))
print(a)

a = "Hello"
print('=======================')
print(type(a))
print(a)

#list example
a = ["India", "Aus", 100]
print('=======================')
print(type(a))
print(a)
for a1 in a:
    print(a1)

#set example
a = {"India", "India", "Aus"}
print('=======================')
print(type(a))
print(a)

#Dictionary example
a = {"1":"India", "2":"Aus", 3: "NZ"}
print('=======================')
print(type(a))
print(a)

#Tuple example
a = ("India", 12345, 3.14, 45, "NZ")
print('=======================')
print(type(a))
print(a)

=======================
<class 'int'>
15
=======================
<class 'str'>
Hello
=======================
<class 'list'>
['India', 'Aus', 100]
India
Aus
100
=======================
<class 'set'>
{'Aus', 'India'}
=======================
<class 'dict'>
{'1': 'India', '2': 'Aus', 3: 'NZ'}
=======================
<class 'tuple'>
('India', 12345, 3.14, 45, 'NZ')

In [91]:
my_income = 1500000
tax_rate = 0.3
income_tax = my_income * tax_rate
print(f'income tax is {income_tax}')
income_after_tax = my_income - income_tax
print(f'income after tax is {income_after_tax}')

income tax is 450000.0
income after tax is 1050000.0

Strings 
Strings are sequence of characters. We can define strings either single quotes or double quotes.
var name = 'Robert'
var country = "USA"
var designation = 'Senior Engineer'

Index => use [] to get particular index
'Robert'

    FWD  REVERSE
R - 0    0 
o - 1   -5
b - 2   -4
e - 3   -3
r - 4   -2
t - 5   -1

String Length
To calculate the length make use of len('') function.
len('hello') #5

String Slicing
Slicing allows you to grab a subsection/substring of multiple characters i.e. a "slice" of string.
Syntax for slicing: [start:stop:step]
start - It is the numerical index for the slice start
stop - It is the numerical index from where up to you want slicing. Please note it is not included i.e. this index not included
step - It is the size of the "jump" you take
Below are the examples.

In [121]:
name = 'Robert'
print(name)
name = "Robert"
print(name)
sentence = "Hi, I'm going to learn Python"
print(sentence)
name="Robert Forest"
print(name)
print(len(name))
sentence = "Hello How are you ?\nI hope you are doing good";
print(sentence)
print('after slicing [0,6,1]')
print(name[0:6:1])

Robert
Robert
Hi, I'm going to learn Python
Robert Forest
13
Hello How are you ?
I hope you are doing good
after slicing [0,6,1]
Robert

In [154]:
my_string = 'Hello World'
print(my_string[0])
for i in my_string:
    print(i)

print(my_string[-2])
print('below is slicling example')
print(my_string[0:5:1])
print(my_string[6:11:1])
print(my_string[::1])
print("reversing my_string")
print(my_string[::-1])
# ' '+ [6:10:1])

H
H
e
l
l
o

W
o
r
l
d
l
below is slicling example
Hello
World
Hello World
reversing my_string
dlroW olleH